# Java's default ignores

*.class
*.jar
*.war
*.ear

# Documentation builds

docs/build


# Ignoring specific folders and files on Otsopack projects

otsoAuthentication/bin
otsoAuthentication/libs
otsoAuthentication/dist

otsoCommons/bin
otsoCommons/build
otsoCommons/dist
otsoCommons/libs

otsoDroid/otsoDroid/gen
otsoDroid/otsoDroid/local.properties
otsoDroid/otsoDroid/debug.keystore
otsoDroid/otsoDroid/build.properties
otsoDroid/otsoDroid/bin
otsoDroid/otsoDroid/libs

otsoDroid/otsoDroidTest/gen
otsoDroid/otsoDroidTest/local\.properties$
otsoDroid/otsoDroidTest/debug\.keystore$
otsoDroid/otsoDroidTest/build\.properties$
otsoDroid/otsoDroidTest/bin
otsoDroid/otsoDroidTest/libs

otsoIdentityProvider/bin

otsoRestletCommons/dist
otsoRestletCommons/bin
otsoRestletCommons/build

otsoSE/dbOtsoPack
otsoSE/bin
otsoSE/build
otsoSE/dist
otsoSE/libs

otsoSecurityIntegrationTest/bin
