# Java's default ignores

*.class
*.jar
*.war
*.ear

# Documentation builds

docs/build


# Ignoring Maven's compiled sources

*/target/*


# Ignoring specific folders and files on Otsopack projects: OLD ANT VERSION

otsoAuthentication/bin

otsoCommons/bin
otsoCommons/build

otsoDroid/otsoDroid/gen
otsoDroid/otsoDroid/local.properties
otsoDroid/otsoDroid/debug.keystore
otsoDroid/otsoDroid/build.properties
otsoDroid/otsoDroid/bin
otsoDroid/otsoDroid/libs

otsoDroid/otsoDroidTest/gen
otsoDroid/otsoDroidTest/local.properties
otsoDroid/otsoDroidTest/debug.keystore
otsoDroid/otsoDroidTest/build.properties
otsoDroid/otsoDroidTest/bin
otsoDroid/otsoDroidTest/libs

otsoIdentityProvider/bin

otsoRestletCommons/bin
otsoRestletCommons/build

otsoSE/dbOtsoPack
otsoSE/bin
otsoSE/build

otsoSecurityIntegrationTest/bin
