*.class

# Package Files #
*.jar
*.war
*.ear


# Maven #
target/


# Documentation builds #
docs/build


# Eclipse files #
# If you need to create them for the first time, just run 'mvn eclipse:eclipse'. #
.classpath
.project
#.settings/ # to maintain Pablo's nazi Eclipse rules


# Ignoring specific folders for the modules using ant (the Android ones)

otsoDroid/otsoDroid/gen
otsoDroid/otsoDroid/local.properties
otsoDroid/otsoDroid/debug.keystore
otsoDroid/otsoDroid/build.properties
otsoDroid/otsoDroid/bin
otsoDroid/otsoDroid/libs

otsoDroid/otsoDroidTest/gen
otsoDroid/otsoDroidTest/local.properties
otsoDroid/otsoDroidTest/debug.keystore
otsoDroid/otsoDroidTest/build.properties
otsoDroid/otsoDroidTest/bin
otsoDroid/otsoDroidTest/libs

# Ignoring SQLite database in otsoSE
otsoSE/dbOtsoPack

otsoSecurityIntegrationTest/bin